# Composer
/vendor/

# Codeception
/tests/_output/
/tests/_run/
/tests/_support/_generated/

# PHPUnit
.phpunit.result.cache
/phpunit.xml

# IDE
/.idea/
/.vscode/
*.swp
*.swo
*~
.DS_Store

docker-compose.yml